@charset "utf-8";

nav {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

nav ul {
    display: flex;
    padding-left: 0;
}

nav ul li {
    margin-right: 15px;
    list-style-type: none;
}

main {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 30px auto 0;
}

article {
    width: 850px;
}

aside {
    width: 320px;
}

aside ul li {
    list-style-type: none;
}
